.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(140, 140, 195);
  height: 100vh;
  width: 100vw;
}
.head{
  font-size: 2em;
  color: white;
}
.mid{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  width: 150px;
  height: 30px;
  margin: 20px;
  border-radius: 4px;

}
.score{
  width: 50px;
  margin-left: 27px;
  font-weight: bold;
  font-size: 2em;
}
.action{
  width: 50px;
  border: 0;
  font-weight: bold;
  font-size: 2em;
  background-color: white;
}

.reset{
  
  width: 50px;
  height: 25px;
  border-radius: 5px;
  background-color: blue;
  color: white;
}